/* --- LINKSKONSOLE TEXT-STYLING --- */
mainNav ul li a {
    color: #ffffff !important;
    text-decoration: none;
    font-family: 'SerpentineB5', Arial, sans-serif !important;
    font-size: 1.05em;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

mainNav ul li a:hover {
    color: #ff9900 !important;
    text-shadow: 0 0 5px rgba(255, 153, 0, 0.8);
}
